.cards{
    display:flex;
    margin:auto;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    width:90%;
    padding:30px;
    gap:10px;
}

.heading{
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}